*{
    box-sizing: border-box;
}

body{
    margin:0;
}

.line {
    width: 100%;
    height: 1px;
    background: #594246;
}

/*footer*/

.footer{
    display:flex;
    position: absolute;
    bottom:0;
    background:#F2DCE0;
    width:100%;
    flex-wrap:wrap;
    margin:0 auto;
    justify-content:center;
}

.top-footer{
    display:flex;
    flex-direction:row;
    font-family:"Work Sans", sans-serif;
    justify-content: space-evenly;
    float:left;
    width:100%;
    padding:0px 20px;
}

.section1{
    top:20px;
    padding:30px;
    margin:.5em 0;
}
.icon{
    color:#F2ACBF;
    text-shadow:0 0 3px pink;
}
.slogan,p{
    color:#594246;
}

.section2,.section3,.section4{
    padding:0px 40px;
}

.header{
    font-weight: bolder;
    font-size: medium;
    font-family:"Work Sans", sans-serif;
    color:#F2ACBF;
    text-shadow:0 0 3px pink;
}

ul{
    display:inline-block;
    list-style:none;
    padding:10px 0px;
    margin:0;
    align-items:center;
    font-size:12px;
}

.list1,.list2{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
}

.list1 li, .list2 li{
    margin:.5em 0;
}

a{
    text-decoration:none;
    color:#594246;
}

a:hover{
    color:#F2ACBF;
}

.bottom-footer{
    justify-content: space-evenly;
    align-items:center;
    padding:10px 10px;

}

.user-email{
    border-radius: 20px;
    border-color: #F2ACBF;
}

input:focus{
    outline: #594246;
}

.button{
    border-radius: 100%;
    border-color: #F2ACBF;
    background-color: #F2ACBF;
    padding:2px 3px;
}

.media-links{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:0px 20px 0px 0px;
    text-shadow:0 0 3px #594246;
    font-size:20px;
}

.copyright {
    width: 100%;
    align-items:center;
    justify-content:center;
    color:#594246;
    margin:0 auto;
}

.phone{
    margin-bottom: .5em;
}